
body{
    background-color: black;
    font-family: 'VT323', monospace;

}
.videoContainer {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.passwordContainer {
    color: white;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    background-color: black;
    color: white;
    border: none;
    height: 50%;
    font-size: 2em;
    margin-left: 15px;
    width: 15%;
    font-family: 'VT323', monospace;
}

textarea:focus, input:focus{
    outline: none;
}

h1{
    color: white;
}

button {
    background-color: black;
    border-color: rgb(80, 126, 253);
    color: white;
    width: 275px;
}

button:focus {
  color: rgb(80, 126, 253);
}