body {
  background-color: black;
  font-family: "Roboto Mono", monospace;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.videoContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  color: white;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background-color: black;
  color: white;
  border: none;
  height: 50%;
  font-size: 1.25em;
  margin-left: 15px;
  width: 100px;
  font-family: "Roboto Mono", monospace;
}

textarea:focus,
input:focus {
  outline: none;
}

p {
  font-size: 1.25em;
  color: white;
}

button {
  background-color: black;
  border-color: white;
  color: rgb(80, 126, 253);
  width: 100px;
}

button:focus {
  color: rgb(80, 126, 253);
}

.footer {
  width: 25vw;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  box-shadow: 1px 5px 10px;
}

a {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1.25em;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
}
.background {
  z-index: -1;
  width: 75vw;
  height: 75vh;
  top: 0;
  left: 0;
}
.gifBackground {
  z-index: -1;
  width: 50vw;
  height: 25vh;
  top: 0;
  left: 0;
}

.instalogo {
  width: 100px;
  height: 100px;
}

.comingSoon {
  color: white;
}

@media only screen and (max-width: 768px) {
  .footer {
    width: 70vw;
  }
}
@media only screen and (max-width: 600px) {
  .footer {
    width: 90vw;
  }
  .background {
    width: 100vw;
  }
  .instalogo{
    width: 50px;
    height: 50px;
  }
}